---
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'
import Link from '@/components/Link.astro'
import { Badge } from '@/components/ui/badge'

interface Props {
  // Update tipe ke 'work'
  project: CollectionEntry<'work'>
}

const { project } = Astro.props
---

<div class="flex flex-col border border-zinc-800 bg-zinc-900/50 rounded-lg overflow-hidden hover:border-zinc-700 transition-all">
  <Link href={project.data.demoLink || project.data.repoLink || '#'}>
    {/* Update image -> heroImage */}
    {project.data.heroImage && (
      <Image
        src={project.data.heroImage}
        alt={project.data.title}
        width={400}
        height={225}
        class="w-full h-48 object-cover"
      />
    )}
    <div class="p-4 flex flex-col gap-2">
      <div class="flex justify-between items-start">
        <h3 class="font-bold text-zinc-200">{project.data.title}</h3>
        {project.data.status && (
            <span class="text-[10px] uppercase border px-1 rounded text-zinc-500 border-zinc-700">
                {project.data.status}
            </span>
        )}
      </div>
      <p class="text-sm text-zinc-400 line-clamp-3">{project.data.description}</p>
      
      {/* Tech Stack (Tags) */}
      <div class="flex flex-wrap gap-1 mt-2">
        {project.data.techStack.map((tech) => (
          <Badge variant="secondary" className="text-xs px-1.5 py-0">
            {tech}
          </Badge>
        ))}
      </div>
    </div>
  </Link>
</div>